In [15]:
import pandas as pd 
df=pd.read_csv(r"D:\Data Analysis Project\Python Project\CR - EDA\archive (3)\Unpreprocessed data.csv")

In [16]:
df.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,02/03,Liga Portugal,6,10-07-02,H,Sporting CP,Moreirense FC,3:00,LW,34,2:00,Solo run,NaN
1,02/03,Liga Portugal,6,10-07-02,H,Sporting CP,Moreirense FC,3:00,LW,90+5,3:00,Header,Rui Jorge
2,02/03,Liga Portugal,8,10/26/02,A,Sporting CP,Boavista FC,1:02,NaN,88,1:02,Right-footed shot,Carlos Martins
3,02/03,Taca de Portugal Placard,Fourth Round,11/24/02,H,Sporting CP,CD Estarreja,4:01,NaN,67,3:00,Left-footed shot,Cesar Prates
4,02/03,Taca de Portugal Placard,Fifth Round,12/18/02,H,Sporting CP,FC Oliveira do Hospital,8:01,NaN,13,3:00,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            710 non-null    object
 1   Competition       710 non-null    object
 2   Matchday          710 non-null    object
 3   Date              710 non-null    object
 4   Venue             710 non-null    object
 5   Club              710 non-null    object
 6   Opponent          710 non-null    object
 7   Result            710 non-null    object
 8   Playing_Position  652 non-null    object
 9   Minute            710 non-null    object
 10  At_score          710 non-null    object
 11  Type              695 non-null    object
 12  Goal_assist       464 non-null    object
dtypes: object(13)
memory usage: 72.2+ KB

In [18]:
df.isnull().sum()

Season                0
Competition           0
Matchday              0
Date                  0
Venue                 0
Club                  0
Opponent              0
Result                0
Playing_Position     58
Minute                0
At_score              0
Type                 15
Goal_assist         246
dtype: int64

In [19]:
df['Playing_Position'].value_counts()

Playing_Position
LW     356
CF     209
RW      79
LW       5
CF       3
Name: count, dtype: int64

In [20]:
df['Type'].value_counts()

Type
Right-footed shot         253
Penalty                   132
Left-footed shot          113
Header                    112
Direct free kick           49
Tap-in                     14
Long distance kick          9
Counter attack goal         6
Penalty rebound             3
Solo run                    2
Deflected shot on goal      2
Name: count, dtype: int64

In [21]:
df['Goal_assist'].value_counts()

Goal_assist
Karim Benzema          44
Gareth Bale            29
Mesut Ozil             26
Marcelo                23
Angel Di Maria         22
                       ..
Abdulrahman Ghareeb     1
Sami Al-Najei           1
\t                      1
Sultan Al-Ghannam       1
Ayman Yahya             1
Name: count, Length: 91, dtype: int64

In [22]:
df.shape

(710, 13)

In [23]:
df['Playing_Position'] = df['Playing_Position'].replace('LW ','LW')
df['Playing_Position'] = df['Playing_Position'].replace('CF ','CF')

In [24]:
# Correct some values in Season Column
df['Season'] = df['Season'].replace('Dec-13','12/13')

In [25]:
# Change to Datetime type
df['Date'] = pd.to_datetime(df.Date)

C:\Users\Gaurav\AppData\Local\Temp\ipykernel_6048\3158301762.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df.Date)

In [26]:
df.isnull().sum()

Season                0
Competition           0
Matchday              0
Date                  0
Venue                 0
Club                  0
Opponent              0
Result                0
Playing_Position     58
Minute                0
At_score              0
Type                 15
Goal_assist         246
dtype: int64

In [30]:
#df['Playing_Position'].fillna("Unknown", inplace=True)
df.fillna({'Unknown': 'NaN'},inplace=True)

In [31]:
df.isnull().sum()

Season                0
Competition           0
Matchday              0
Date                  0
Venue                 0
Club                  0
Opponent              0
Result                0
Playing_Position      0
Minute                0
At_score              0
Type                 15
Goal_assist         246
dtype: int64

In [33]:
#df['Type'].fillna({'Unknown': 'NaN'},inplace=True)
df['Type'] = df['Type'].fillna('Unknown')

In [35]:
df['Goal_assist'] = df['Goal_assist'].fillna('Unknown')

In [36]:
df.isnull().sum()

Season              0
Competition         0
Matchday            0
Date                0
Venue               0
Club                0
Opponent            0
Result              0
Playing_Position    0
Minute              0
At_score            0
Type                0
Goal_assist         0
dtype: int64

In [38]:
file_path = "D:\Data Analysis Project\Python Project\CR - EDA\cleaned_data.csv"
df.to_csv(file_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_6048\101287683.py:1: SyntaxWarning: invalid escape sequence '\D'
  file_path = "D:\Data Analysis Project\Python Project\CR - EDA\cleaned_data.csv"